<!DOCTYPE html>
<html>
<head>
    <script>
        function validateForm() {
            var x = document.forms["meet"]["meet_name"].value;
            if (x === "") {
                alert("Meet Name must be filled out");
                return false;
            }
            var y = document.forms["meet"]["venue"].value;
            if (y === "") {
                alert("Venue must be filled out");
                return false;
            }
        }
    </script>
    <title>Meet - Add</title>
</head>
<body>
<h1>Add New Meet</h1>
<form name="meet" action="/Meet/insert" onsubmit="return validateForm()" method="get">
    <br />
    For Which Event
    <br />
    <select name = "event_id">
        <% for(var i=0; event_result.length > i; i++) { %>
        <option value="<%=event_result[i].event_id%>"> <%=event_result[i].event_name%></option>
        <% } %>
    </select>
    <br />
    Meet Name: <input name = "meet_name" type="text" />
    Venue: <input name="venue" type="text" />
    <br>
    <input type="submit" />

</form>
</body>
</html>