<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    A place for you to keep track of your Track season, and view your performance per event across different seasons. <br/>
    First create an Athlete followed by the season of your record, then add the events you ran and at which meets. <br/><br/>
    <a href="/Athlete/all">Athlete</a> <br /><br/>
    <a href="/Record/all">Records</a> <br /><br/>
    <a href="/Event/all">Events</a> <br /><br/>
    <a href="/Meet/all">Meets</a> <br /><br/><br/>
    <a href="/View">View All Runs</a> <br/> <br/>
    <a href="avgRace">Average Times</a> <br /><br />
    <a href="More1">Races Ran Multiple Times</a><br/><br/>
    <a href="NeedMeet">Events Without a Meet associated With</a> <br/><br/>
    <a href="Unn">Athletes who've ran Unattached</a> <br/><br/>
    <a href="DisR">Distinct Records</a><br/><br/>
    <a href="DisE">Distinct Events</a><br/><br/>
    <a href="Fastest">Fastest Times</a><br/><br/>

  </body>
</html>
