<!DOCTYPE html>
<html>
<head>
    <title>Athlete - Add</title>
</head>
<body>
<h1>Add New Athlete</h1>
<form action="/Athlete/insert" method="get">
    First Name: <input name = "f_name" type="text" />
    Last Name: <input name = "l_name" type="text" />
    <br>
    <input type="submit" />

</form>
</body>
</html>