<!DOCTYPE html>
<html>
<head>
    <title>Athlete - Edit</title>
</head>
<body>
<h1>Edit Athlete</h1>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= Athlete.f_name + Athlete.l_name%> was successfully saved. %>
    </div>
</div>
<% }%>
<form action="/Athlete/update" method="get">

    <input type="hidden" id ="ath_id" name="ath_id" value="<%= ath_id%>" />

    First Name: <input id="f_name" name = "f_name" type="text" value="<%=Athlete.f_name %>" />
    <br>
    Last Name: <input id="l_name" name = "l_name" type="text" value="<%=Athlete.l_name %>"/>
    <br />


    <input type="submit" />
</form>
</body>
</html>