<!DOCTYPE html>
<html>
<head>
    <title>All Times</title>
</head>
<body>
<h1>All Races</h1>

<table border ="1">
    <tr>
        <th>Event</th>
        <th>Time</th>
        <th>Athlete</th>
        <th>Season</th>
    </tr>
    <% for(var i=0; i < Views.length;i++) {%>
    <tr>
        <td><%=Views[i].event_name %></td>
        <td><%=Views[i].time %></td>
        <td><%=Views[i].f_name + ' ' + Views[i].l_name %></td>
        <td><%=Views[i].season%></td>
    </tr>
    <% } %>
</table>
<a href="/">Return Home</a> <br /> <br/>
SQL Statement: <br/>
SELECT f_name, l_name, season, event_name, time <br/>
FROM Athlete a <br/>
JOIN Record r ON r.ath_id = a.ath_id <br/>
JOIN Event e ON e.record_id = r.record_id <br/>
ORDER BY event_name, time; <br/>
</body>
</html>