<!DOCTYPE html>
<html>
<head>
    <script>
        function validateForm() {
            var x = document.forms["record"]["season"].value;
            if (x === "") {
                alert("Season must be filled out");
                return false;
            }
        }
    </script>
    <title>Record - Add</title>
</head>
<body>
<h1>Add New Record</h1>
<form name="record" action="/Record/insert" onsubmit="return validateForm()" method="get">
    <br />
    For Which Athlete
    <br />
    <select name="ath_id">
        <% for(var i=0; athlete_result.length > i; i++) { %>
        <option value="<%=athlete_result[i].ath_id %>"><%= athlete_result[i].f_name +' '+ athlete_result[i].l_name %></option>
        <% } %>
    </select>
    <br />
    Season: <input name = "season" type="text" />
    <br>
    <input type="submit" />

</form>
</body>
</html>